# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.gcda
*.gcno
unittests
core/coverage
mx_frontend/cmake-build-debug
level-editor-x11
mx_frontend/.idea
mx_frontend/derelict.elf
mx_frontend/derelict.gba
mx_frontend/build/derelict.elf.map
tools/wobj-compiler/target
packer
mx_frontend/NDK-version/.idea
mx_frontend/Xcode2/build
monty.mode1
monty.pbxuser
Derelict
mx_frontend/Xcode2/Equivalence32.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
mx_frontend/Xcode2/Equivalence32.xcodeproj/project.xcworkspace/xcuserdata/monty.xcuserdatad/UserInterfaceState.xcuserstate
mx_frontend/Xcode2/Equivalence32.xcodeproj/xcuserdata/monty.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
ee_frontend/NDK-version/.idea
ee_frontend/.idea
CWSDPMI.SWP
mx_frontend/CMakeFiles
mx_frontend/cmake_install.cmake
mx_frontend/CMakeCache.txt
mx_frontend/equivalence32
mx_frontend/Makefile
ee_frontend/Xcode4_gl2/equivalence128.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
ee_frontend/Xcode4_gl2/equivalence128.xcodeproj/project.xcworkspace/xcuserdata/monty.xcuserdatad/UserInterfaceState.xcuserstate
ee_frontend/Xcode4_gl2/equivalence128.xcodeproj/xcuserdata/monty.xcuserdatad/xcschemes/xcschememanagement.plist
gl_frontend/Xcode2_gl1/Equivalence64.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
gl_frontend/Xcode2_gl1/Equivalence64.xcodeproj/project.xcworkspace/xcuserdata/monty.xcuserdatad/UserInterfaceState.xcuserstate
gl_frontend/Xcode2_gl1/Equivalence64.xcodeproj/xcuserdata/monty.xcuserdatad/xcschemes/xcschememanagement.plist
core/.idea
core/cmake-build-debug
ee_frontend/Xcode4_gl2/equivalence128.xcodeproj/xcuserdata/monty.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
gl_frontend/cmake_install.cmake
gl_frontend/CMakeCache.txt
gl_frontend/derelict64
gl_frontend/derelict64.z64
gl_frontend/Makefile
gl_frontend/CMakeFiles
gl_frontend/filesystem/font.font64
mx_frontend/equivalence.gba
tools/level-editor/.idea
tools/level-editor/level-editor
tools/level-editor/mapfile.txt
gl_frontend/derelict.elf
gl_frontend/equivalence.nds
gl_frontend/build/derelict.map
derelict_ee.elf
ee_frontend/derelict_gx.dol
ee_frontend/derelict_gx.elf
ee_frontend/derelict_wii.dol
ee_frontend/derelict_wii.elf
derelict_gx.elf.map
derelict_wii.elf.map
gl_frontend/.idea
gl_frontend/cmake-build-debug
derelict.nds
tools/level-editor/Xcode4/LevelEditorCocoa/LevelEditorCocoa.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
tools/level-editor/Xcode4/LevelEditorCocoa/LevelEditorCocoa.xcodeproj/project.xcworkspace/xcuserdata/monty.xcuserdatad/UserInterfaceState.xcuserstate
tools/level-editor/Xcode4/LevelEditorCocoa/LevelEditorCocoa.xcodeproj/xcuserdata/monty.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
tools/level-editor/Xcode4/LevelEditorCocoa/LevelEditorCocoa.xcodeproj/xcuserdata/monty.xcuserdatad/xcschemes/xcschememanagement.plist
mx_frontend/Archive.zip
mx_frontend/index.data
mx_frontend/index.html
mx_frontend/index.js
mx_frontend/index.wasm
mx_frontend/tragedy.gba
IDEFindNavigatorScopes.plist
mx_frontend/gameaga
mx_frontend/gamecd32
mx_frontend/game.data
mx_frontend/game.html
mx_frontend/game.html.mem
mx_frontend/game.js
